* {
  text-align: center;
}
img.intro {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 5px solid black;


}

h2.intro {
color: green;
}
p.intro {
color: red;
}
